:root {
    font-size: 62.5%;


    --color--background--grey: hsl(34, 33%, 96%);
    --color--background--grey--strong: hsl(0, 0%, 90%);
    --color--background--white: hsl(0, 0%, 100%);

    --color--component--orange: hsl(34, 100%, 51%);

    --color--scrollbar--grey--light: hsl(0, 0%, 70%);
    --color--scrollbar--grey--strong: hsl(0, 0%, 85%);

    --color--font--title--l10: hsl(0, 0%, 10%);
    --color--font--title--l15: hsl(0, 0%, 15%);
    --color--font--title--l20: hsl(0, 0%, 20%);
    --color--font--title--l24: hsl(0, 0%, 24%);
    --color--font--title--l40: hsl(0, 0%, 40%);
    
    --color--font--status--success: hsl(101, 84%, 34%);
    --color--font--status--warning: hsl(40, 100%, 51%);
    --color--font--status--danger: hsl(0, 96%, 65%);

    --box-shadow: 0.2rem 0.2rem 0.4rem hsla(0, 0%, 30%, 0.08);

    --font-size--paragraph: 1.6rem;
    --font-size--paragraph--large: 1.8rem;


    --font-size--title--small: 2.0rem;
    --font-size--title: 2.2rem;
    --font-size--title--large: 2.4rem;
}