.layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.2rem;
    max-width: 124.8rem;
    grid-template-areas: "box1 box2 box2"
        "box1 box2 box2"
        "box3 box2 box2"
        "box3 box4 box4"
        "box5 box5 box5"
        "box6 box6 box7"
        "box6 box6 box7"
        "box8 box8 box7"
        "box8 box8 box7";
}


.layout__box:nth-child(1) {
    grid-area: box1;
    border-radius: 1.2rem;
    background-color: hsl(90, 100%, 50%);
    height: 32.5rem;
    box-shadow: var(--box-shadow);
}

.layout__box:nth-child(2) {
    grid-area: box2;
    border-radius: 1.2rem;
    background-color: hsl(16, 100%, 66%);
    height: 45.2rem;
    box-shadow: var(--box-shadow);
}

.layout__box:nth-child(3) {
    grid-area: box3;
    border-radius: 1.2rem;
    background-color: hsl(240, 100%, 50%);
    height: 37.1rem;
    box-shadow: var(--box-shadow);
}

.layout__box:nth-child(4) {
    grid-area: box4;
    border-radius: 1.2rem;
    background-color: hsl(0, 100%, 50%);
    height: 24.3rem;
    box-shadow: var(--box-shadow);
}

.layout__box:nth-child(5) {
    grid-area: box5;
    border-radius: 1.2rem;
    background-color: hsl(60, 100%, 50%);
    height: 46.1rem;
    box-shadow: var(--box-shadow);
}

.layout__box:nth-child(6) {
    grid-area: box6;
    border-radius: 1.2rem;
    background-color: hsl(180, 100%, 50%);
    height: 28.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(77, 77, 77, 0.08);
}

.layout__box:nth-child(7) {
    grid-area: box7;
    border-radius: 1.2rem;
    background-color: hsl(300, 76%, 72%);
    height: 60.8rem;
    box-shadow: var(--box-shadow);
}

.layout__box:nth-child(8) {
    grid-area: box8;
    border-radius: 1.2rem;
    background-color: hsl(39, 100%, 50%);
    height: 28.8rem;
    box-shadow: var(--box-shadow);
}