@import "./design-system.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color--background--grey);
    color: var(--color--font--title--l24);
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: 0.02em;
}

main{
    padding: 4.9rem 9.6rem 4.4rem 9.6rem;
    display: flex;
    flex-direction: column;
}

/* Navbar */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 9.6rem;
    background-color: var(--color--background--white);
    box-shadow: var(--box-shadow);
    border-radius: 0rem 0rem 1.2rem 1.2rem;
    height: 10.2rem;
}

nav > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0rem 9.6rem 0 15.7rem;
    flex-grow: 1;
}

nav ul li {
    padding: 1rem;
    font-size: var(--font-size--title--small);
    font-weight: bold;
    margin: auto 0;
}

nav ul li:first-child {
    margin-right: 7.2rem; 
}

nav ul li a {
    text-decoration: none;
    color: var(--color--font--title--l10);
}

nav ul li img {
    margin-right: 0.3rem;
}

#logo {
    width: 5.6rem;
    height: 5.6rem;
    margin: auto 0;
    
}

.navbar__program-name {
    font-weight: 600;
    font-size: var(--font-size--title--large);
    line-height: 2.8rem;
    color: var(--color--font--title--l24);
}

.navbar__item--active {
    border-bottom: 0.3rem solid var(--color--component--orange);
}

.scrollable-container{
    overflow: auto;
}

.scrollable-container::-webkit-scrollbar {
    width: 0.8rem;    /* width of the entire scrollbar */
    height: 0.8rem;
}

.scrollable-container::-webkit-scrollbar-track {
    background: var(--color--scrollbar--grey--strong);
    border-radius: 1.2rem;    /* color of the tracking area */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: var(--color--scrollbar--grey--light);    /* color of the scroll thumb */
    border-radius: 1.2rem;    /* roundness of the scroll thumb */
}