.candidates__preselec > section {
    min-height: 7.1rem;
    max-width: 124.8rem;
}

.candidates__preselec > section:first-child {
    max-width: none;
}

.candidates__preselec--dropdown > h2 {
    padding-bottom: 1.6rem;
    font-style: normal;
    font-size: var(--font-size--title--small);
    line-height: 2.3rem;
    color:  var(--color--font--title--l20);
}

.candidates__preselec--dropdown > h6 {
    margin-top: 1.6rem;
    padding-bottom: 3.2rem;
    font-style: italic;
    font-weight: 400;
    font-size: var(--font-size--paragraph);
    line-height: 1.9rem;
}

.candidates__preselec--button {
    display: flex;
    justify-content: end;
}

.candidates__preselec--button>button {
    min-width: 28rem;
    height: 4.5rem;
    border: 0.25rem solid var(--color--component--orange);
    padding: 0.95rem 3.15rem;
    border-radius: 1.2rem;
    letter-spacing: 0.02em;
    color: var(--color--component--orange);
    font-style: normal;
    font-size: var(--font-size--paragraph--large);
    position: relative;
    right: 0rem;
    background-color: var(--color--background--grey);
}

.candidates__preselec--dropdown>.grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(17.63rem, 1fr));
    grid-template-rows: 4.7rem repeat(3, 8.0rem);
    column-gap: 3.2rem;
    row-gap: 1.6rem;
    padding: 0rem 0.2rem 4rem 0.2rem;
}

.candidates__preselec--dropdown .grid-item {
    width: 100%;
    background-color: var(--color--background--white);
    padding: 1.25rem 2.0rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.candidates__preselec--dropdown .grid-item:hover {
    box-shadow: 0rem 0rem 0rem 0.2rem var(--color--component--orange);
}

.candidates__preselec--dropdown .grid-item--percentage {
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size--title);
    line-height: 2.6rem;
    color: var(--color--font--status--danger);
}

.candidates__preselec--dropdown .grid-item--percentage.yellow {
    color: var(--color--font--status--warning);
}

.candidates__preselec--dropdown .grid-item--percentage.green {
    color: var(--color--font--status--success);
}

.candidates__preselec--dropdown .grid-item--hour-range {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size--paragraph);
    line-height: 2.1rem;
    color: var(--color--font--title--l40);
}

.candidates__preselec--dropdown .grid-item--title {
    background-color: var(--color--background--grey--strong);
    font-size: var(--font-size--title--small);
    text-align: center;
}

.candidates__preselec--dropdown .grid-item--title:hover {
    background-color: var(--color--background--grey--strong);
    font-size: var(--font-size--title--small);
    text-align: center;
    box-shadow: none
}

.candidates__preselec--dropdown>.disp-cont {
    display: flex;
    width: 100%;
    gap: 3.2rem;
}

.disp-cont>div {
    flex-grow: 1;
}

.disp-cont h4 {
    border-bottom: 0.1rem solid var(--color--font--title--l15);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size--paragraph--large);
    line-height: 3.0rem;
    margin-bottom: 1.6rem;
    padding-bottom: 0.4rem;
}

.disp-cont ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.disp-cont li {
    width: 50%;
    min-width: 16rem;
    padding-bottom: 2.4rem;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size--paragraph);
    line-height: 1.9rem;
}

.disp-cont li span:first-child {
    color: var(--color--component--orange);
    font-weight: 900;
}

.label {
    font-size: var(--font-size--title--small);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.toggle-inbox {
    display: none;
}

.toggle-inbox~div#my {
    max-height: 0rem;
    overflow: hidden;
    margin-bottom: 1rem;
    clear: both;
    transition: max-height .1s ease-in 0s;
}

.toggle-inbox:checked~div#my {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 42rem;
    transition: max-height .1s ease-in 0s;
}

.label {
    font-size: var(--font-size--title--small);
    color:  var(--color--font--title--l20);
    padding-right: .8rem;
}

.toggle-inbox2 {
    display: none;
}

.less {
    cursor: pointer;
}

.toggle-inbox2~div#my2 {
    max-height: 0rem;
    overflow: hidden;
    margin-bottom: 1rem;
    transition: max-height .1s ease-in 0s;
}

.toggle-inbox2:checked~div#my2 {
    overflow: auto;
    max-height: 80rem;
    transition: max-height .1s ease-in 0s;
}

.icon{
    display: inline-block;
    align-items: center;
    width: 1.5rem;
    height: 0.86rem;
    position: relative;
    transform: rotate(180deg);
    transition: transform 0.15s linear 0s;
}

.icon--right{
    transform: rotate(90deg);
}

.toggle-inbox2:checked~.label>span{
    transform: rotate(0deg);
    transition: transform 0.15s linear 0s;
}

.toggle-inbox:checked~.label>span{
    transform: rotate(0deg);
    transition: transform 0.15s linear 0s;
}

.icon::before,.icon::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 0.243rem;
    height: 1.216rem;
    border-radius: 0.121rem;
    background-color: var(--color--font--title--l20);
}

.icon--orange::before,.icon--orange::after{
    background-color: var(--color--component--orange);
}

.icon::before{
    left: 0;
    transform: translate(1rem, -50%) rotate(-45deg);
}

.icon::after {
    right: 0;
    transform: translate(-1rem, -50%) rotate(45deg);
}

.disp-cont li{
    display: flex;
    align-items: center;
    gap: 1rem;
}