.container-table {
    max-width: 124.7rem;
    height: 65.6rem;
    overflow: auto;
}

table {
    max-width: 124.8rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0rem 3rem;
    margin-right: 1.7rem;
}

table.container-table__table-index{
    width: 98%;
}

table thead td {
    max-width: 124.8rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0rem 0rem;
}

table thead tr th {
    font-size: var(--font-size--paragraph);
    text-align: left;
    padding-bottom: 0rem;
    line-height: 1.9rem;
    font-weight: 400;

    background: var(--color--background--grey);
    box-shadow:
    0px -3rem 0px var(--color--background--grey),
    0px -2rem 0px var(--color--background--grey),
    0px -1rem 0px var(--color--background--grey),
    0px 0rem 0px var(--color--background--grey),
    0px 1rem 0px var(--color--background--grey),
    0px 2rem 0px var(--color--background--grey),
    4rem -3rem 0px var(--color--background--grey),
    4rem -2rem 0px var(--color--background--grey),
    4rem -1rem 0px var(--color--background--grey),
    4rem 0rem 0px var(--color--background--grey),
    4rem 1rem 0px var(--color--background--grey),
    4rem 2rem 0px var(--color--background--grey);
    position: sticky;
    top: 3rem;
    z-index: 100;
}

table tbody tr td {
    background-color: var(--color--background--white);
    padding: 2.95rem 0rem;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size--paragraph--large);
    line-height: 2.1rem;
    color: var(--color--font--title--l20);
}

table tbody tr td:nth-child(6) {
    font-weight: 900;
    font-size: var(--font-size--title--small);
}

.container-table__table-index thead tr th:nth-child(2),
.container-table__table-index tbody tr td:nth-child(2) {
    font-weight: 700;
}

.table-unranked thead tr th:nth-child(1),
.table-unranked tbody tr td:nth-child(1) {
    font-weight: 700;
}

.table-unranked thead tr th:nth-child(1) {
    padding-left: 3.2rem;
}

tbody tr {
    border-radius: 1.2rem;
    box-shadow: var(--box-shadow);
}

/* round all rows and give shadow */

tr td:first-child {
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    box-shadow: var(--box-shadow);
}

tr td:last-child {
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    box-shadow: var(--box-shadow);
    font-weight: 900;
}

tr td:not(:first-child):not(:last-child) {
    box-shadow: var(--box-shadow);
}

/* Add border to the first row */

.container-table__table-index tr:first-child td:first-child {
    border: 0.2rem solid hsl(36, 97%, 73%);
    border-right: none;
}

.container-table__table-index tr:first-child td:last-child {
    border: 0.2rem solid hsl(36, 97%, 73%);
    border-left: none;
}

.container-table__table-index tr:first-child td:not(:first-child):not(:last-child) {
    border: 0.2rem solid hsl(36, 97%, 73%);
    border-left: none;
    border-right: none;
}

/* add border to second row */

.container-table__table-index tr:nth-child(2) td:first-child {
    border: 0.2rem solid hsl(0, 0%, 80%);
    border-right: none;
}

.container-table__table-index tr:nth-child(2) td:last-child {
    border: 0.2rem solid hsl(0, 0%, 80%);
    border-left: none;
}

.container-table__table-index tr:nth-child(2) td:not(:first-child):not(:last-child) {
    border: 0.2rem solid hsl(0, 0%, 80%);
    border-left: none;
    border-right: none;
}

/* add border to third row */

.container-table__table-index tr:nth-child(3) td:first-child {
    border: 0.2rem solid hsl(18, 96%, 65%);
    border-right: none;
}

.container-table__table-index tr:nth-child(3) td:last-child {
    border: 0.2rem solid hsl(18, 96%, 65%);
    border-left: none;
}

.container-table__table-index tr:nth-child(3) td:not(:first-child):not(:last-child) {
    border: 0.2rem solid hsl(18, 96%, 65%);
    border-left: none;
    border-right: none;
}

/* circular numbers and their variables */
.container-table__table-index tr>td:first-child>span {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: var(--color--font--title--l20);
    display: inline-block;
    font-weight: bold;
    line-height: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    margin-right: 1.5rem;
    background: none;
    border: 0.15rem solid var(--color--font--title--l20);
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 2.2rem;
}

.container-table__table-index tr:nth-child(1)>td:first-child>span {
    color: hsl(36, 90%, 41%);
    background: hsl(36, 97%, 73%);
    border: 0.15625rem solid hsl(36, 90%, 41%);
}

.container-table__table-index tr:nth-child(2)>td:first-child>span {
    color: hsl(0, 0%, 40%);
    background: hsl(0, 0%, 80%);
    border: 0.15625rem solid hsl(0, 0%, 40%);
}

.container-table__table-index tr:nth-child(3)>td:first-child>span {
    color: hsl(18, 75%, 27%);
    background: hsl(18, 96%, 65%);
    border: 0.15625rem solid hsl(18, 75%, 27%);
}

table tbody tr td:nth-child(1) {
    padding-left: 3.2rem;
}

table tbody tr td:last-child {
    padding-right: 3.2rem;
}

table tbody tr td a {
    color: hsl(0, 0%, 0%);
}

.dots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 1rem;
}

.dots-container__dots{
    display: flex;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    background-color: var(--color--font--title--l20);
    position: relative;
}

.dots-container__dots::after{
    content: "";
    position: absolute;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    background-color: var(--color--font--title--l20);
    transform: translatey(.8rem);
}

.dots-container__dots::before{
    content: "";
    position: absolute;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    background-color: var(--color--font--title--l20);
    transform: translatey(-.8rem);
}