
.tabs {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    border-bottom: 0.1rem solid var(--color--font--title--l20);
    margin-bottom: 3rem;
}

.tabs li {
    padding-bottom: 1rem;
    font-size: var(--font-size--title);
    font-weight: bold;
    margin-right: 5.6rem;
}

.tabs li a {
    text-decoration: none;
    color: var(--color--font--title--l20);
}

.tabs li a.tabs__item--active {
    color: var(--color--component--orange);
    border-bottom: 0.3rem solid var(--color--component--orange);
    padding-bottom: 0.75rem;
    z-index: 1;
}

/* Filters */
.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.05rem;
    align-items: center;
    max-width: 124.7rem;
}

.filter__params-text {
    font-size: var(--font-size--paragraph);
    line-height: 1.8rem;
    font-weight: medium;
}

.filter__icon-container {
    width: 6.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__params-text a {
    text-decoration: underline;
    color: var(--color--component--orange);
}

.filter p {
    font-size: var(--font-size--paragraph);
    font-weight: 500;
    color: var(--color--font--title--l20);
    line-height: 1.9rem;
}

.filter p img {
    padding-top: 0.5rem;
}